/* give space for navbar on top. Text at top gets hidden by vertical navbar on small screens, b
ut it starts collapsed so I think this is OK */
body {
	padding-top: 70px;
}

/* get dropdowns to display inline, not too high or too wide, but wide enough to allow numbers to be seen on all devices */
select.form-control {
	display: inline-block;
	width: 60px;
	height: 25px;
}

/* get dropdowns on a new line from their subtitles on search form */
label.form-subtitle {
	display: block;
}

/* left-justify checkbox groups when they spill to more than one line, and also keep each label apart from the following checkbox */
.form-group .checkbox-inline {
	margin-left: 0px;    
    margin-right: 12px;		
}

/* give search form buttons their own line and sufficient space above */
.search-form-button {
    display: block;
    margin-top: 5px;
}

/* need to separate the various sections on search form */
.form-group {
    padding: 5px;
    border: 1px solid black;
}

/* card search results need to be in grid format */
.search-results {
    display: inline-block;
    padding: 5px;
    font-size: 0px;
}


/* card image on card pages: centre horizontally, and push down from top of page */
.single-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

/* make images smaller on small screend */
.search-image {
    width: 150px;
}

@media (min-width: 768px) {
    /* for screens large enough to use 2 columns, allow them to scroll separately */
    .separate-scroll-form {
        overflow: auto;
        height: 90vh;
    }
    .separate-scroll-results {
        overflow: auto;
        height: 85vh;
    }
    /* increase image size back to normal on larger screens */
    .search-image {
        width: 200px;
    }
}