/* give space for navbar on top. Text at top gets hidden by vertical navbar on small screens, b
ut it starts collapsed so I think this is OK */
body {
	padding-top: 70px;
}

/* get dropdowns to display inline, not too high or too wide, but wide enough to allow numbers to be seen on all devices */
select.form-control {
	display: inline-block;
	width: 60px;
	height: 25px;
}

/* get dropdowns on a new line from their subtitles on search form */
label.form-subtitle {
	display: block;
}

/* left-justify checkbox groups when they spill to more than one line */
.form-group .checkbox-inline {
	margin-left: 0px;    		
}

/* give space for "select all" checkbox in "types" section */
#select-all-types, #select-all-sets {
    margin-left: 5px;
}

/* give search form buttons their own line and sufficient space above */
.search-form-button {
    display: block;
    margin-top: 5px;
}

/* need to separate the various sections on search form - and trying for a nice background effect */
.form-group {
    padding: 5px;
    border: 1px solid black;
}

/* card search results need to be in grid format */
.search-results {
    display: inline-block;
    padding: 5px;
}

/* card image on card pages: centre horizontally, and push down from top of page */
.single-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
