<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1>{{::thisCard.name}}</h1>
			<table class="table table-condensed table-bordered table-hover table-responsive">
				<tr><th>Cost</th><td><img ng-repeat="item in costIcons" src="{{::item.path}}" alt="{{::item.text}}" /> </td></tr>
				<tr><th>{{typeOrTypes}}</th><td>{{::thisCard.types.join(", ")}}</td>
				<tr><th>Set</th><td>{{::thisCard.set}}</td>
				<tr><th>Basic effect</th><td ng-bind-html="thisCard.textAboveLine"></td>
				<tr><th>Other effects</th><td ng-bind-html="thisCard.textBelowLine"></td>
			</table>
			<p ng-bind-html="thisCard.discussion"></p>
			<a href="{{::thisCard.linkURL}}" target="_blank">Read more about {{::thisCard.name}} on the DominionStrategy wiki.</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<img class="single-card" src="{{::thisCard.imagePath}}" alt={{::thisCard.name}}>
		</div>
	</div>
</div>
