<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1>{{::thisCard.name}}</h1>
			<ul class="list-group">
				<li class="list-group-item">Cost: <img ng-repeat="item in costIcons" src="{{::item.path}}" alt="{{::item.text}}" /> </li>
				<li class="list-group-item">{{typeOrTypes}}: {{::thisCard.types.join(", ")}}</li>
				<li class="list-group-item">Set: {{::thisCard.set}}</li>
				<li class="list-group-item">Basic effect: <span ng-bind-html="thisCard.textAboveLine"></span></li>
				<li class="list-group-item">Other effects: <span ng-bind-html="thisCard.textBelowLine"></span></li>
			</ul>
			<p ng-bind-html="thisCard.discussion"></p>
			<a href="{{::thisCard.linkURL}}" target="_blank">Read more about {{::thisCard.name}} on the DominionStrategy wiki.</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<img class="single-card" src="{{::thisCard.imagePath}}" alt={{::thisCard.name}}>
		</div>
	</div>
</div>
