<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h1>{{::thisCard.name}}</h1>
			<p id="glossary-help"><span class="glossary-item">Click these</span> for further information.</p>
			<table class="table table-condensed table-bordered table-responsive card-table">
				<tr><th>Cost</th><td><img ng-repeat="item in costIcons" ng-src="{{::item.path}}" alt="{{::item.text}}" /> </td></tr>
				<tr class="alternate"><th>{{typeOrTypes}}</th><td bind-html-compile="thisCard.typePopovers"></td>
				<tr><th>Set</th><td bind-html-compile="thisCard.set"></td>
				<tr class="alternate"><th>Basic effect</th><td bind-html-compile="thisCard.textAboveLine"></td>
				<tr><th>Other effects</th><td bind-html-compile="thisCard.textBelowLine"></td>
			</table>
			<p bind-html-compile="thisCard.discussion"></p>
			<a href="{{::thisCard.linkURL}}" target="_blank">Read more about {{::thisCard.name}} on the DominionStrategy wiki.</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<img class="single-card card-image {{thisCard.orientation}}" ng-src="{{::thisCard.imagePath}}" alt={{::thisCard.name}}>
		</div>
	</div>
</div>
