<h3 class="centre">Contact the site author</h3>
<p>If you have any suggestions as to how to improve the quality of this site - whether additional features, bug reports, or whatever else, please fill out the form below:</p>
<form novalidate id="contact-form">
	<div class="form-group">
		<label class="control-label" for="name">Name:</label>
		<input class="form-control" type="text" name="name" />
	</div>
	<div class="form-group">
		<label class="control-label" for="e-mail">E-mail address:</label>
		<input class="form-control" type="email" name="e-mail" />
	</div>
	<div class="form-group">
		<label class="control-label" for="comments">Enter your comments/suggestions here:</label>
		<textarea class="form-control" name="comments" form="contact-form" rows="8" cols="100" required></textarea>
	</div>
	<input type="submit" value="Submit" />
</form>
