<h3 class="centre">Contact the site author</h3>
<div id="contact">
<p>If you have any suggestions as to how to improve the quality of this site - whether additional features, bug reports, or whatever else, please fill out the form below:</p>
<form novalidate name="contactForm" id="contact-form">
	<div class="form-group">
		<label class="control-label" for="name">Name:</label>
		<input class="form-control" type="text" name="name" ng-model="name" required />
		<p ng-show="contactForm.name.$pristine">Your name is required.</p>
		<div class="invalid-form" ng-show="nameMissing">
			A name is required!
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" for="email">E-mail address:</label>
		<input class="form-control" type="email" name="email" ng-model="email" required />
		<p ng-show="contactForm.email.$pristine">Your e-mail address is required.</p>
		<div class="invalid-form" ng-show="invalidEmail">
			Please enter a valid e-mail address!
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" for="feedback">Enter your comments/suggestions here:</label>
		<textarea class="form-control" name="feedback" form="contact-form" ng-model="feedback" required></textarea>
		<div class="invalid-form" ng-show="noFeedback">
			Please give some feedback about the site!
		</div>
	</div>
	<input type="submit" value="Submit" ng-click="submitForm()" />
</form>
</div>
