<div class="container-fluid">
	<h3 class="centre">Some useful Dominion-related links</h3>
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">General pages:</h4>
			<ul>
				<li>Rio Grande</li>
				<li>Boardgamegeek</li>
				<li>Wikipedia</li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Where to buy (UK):</h4>
			<ul>
				<li>Amazon.co.uk</li>
				<li>Boardgameguru</li>
				<li>Gameslore</li>
				<li>Shire Games</li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Kingdom Pickers:</h4>	
			<ul>
				<li>Option 1</li>
				<li>Option 2</li>
				<li>Option 3</li>
			</ul>		
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Play:</h4>			
		</div>
	</div>
</div>