<div class="container-fluid">
	<h3 class="centre">Some useful Dominion-related links</h3>
	<div class="row equal-height-columns"> <!--This CSS class, as its name suggests, is to ensure all 4 columns take up the same vertical space, no matter what difference in content they have. This is accomplished with Flexbox (see main.css)-->
		<div class="col-xs-12 col-sm-6 col-md-3 link-group">
			<h4 class="centre">General pages:</h4>
			<ul>
				<li><a href="http://riograndegames.com//search.html?s=dominion" target="_blank">Rio Grande Games</a> - see all Dominion products at the publisher's site.</li>
				<li><a href="https://boardgamegeek.com/boardgame/36218/dominion" target="_blank">Boardgamegeek</a> is the #1 site for all tabletop games, featuring all the information you could ever need, plus discussion forums and much more. This page is for the (1st Edition) base set, click the "expansions" tab to see more.</li>
				<li><a href="https://en.wikipedia.org/wiki/Dominion_(card_game)" target="_blank">Wikipedia</a> has a nice introduction to the game.</li>
				<li><a href="https://dominionstrategy.com/" target="_blank">Dominion strategy</a> is the main home of Dominion discussion on the web - the forum and wiki are especially recommended.</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 link-group">
			<h4 class="centre">Where to buy (UK):</h4>
			<p>A selection of a few of the author's preferred sites for buying board/card games in the UK - of course others are available!</p>
			<ul>
				<li><a href="https://www.amazon.co.uk/s/ref=nb_sb_noss?url=search-alias%3Dtoys&field-keywords=dominion" target="_blank">Amazon.co.uk</a></li>
				<li><a href="http://www.boardgameguru.co.uk/index.asp?function=SEARCH" target="_blank">Boardgameguru</a> (search for "Dominion")</li>
				<li><a href="https://www.gameslore.co.uk/cgi-bin/ss000004.pl?page=search&SS=dominion&search.x=0&search.y=0&PR=-1&TB=A" target="_blank">Gameslore</a></li>
				<li><a href="http://shiregames.com/khxc/index.php?sid=wvb30cs84z46y17h4dn1w99068sv2ow5&app=gbu0&ns=prodsearchp&gbu0--prodsearch--string=dominion" target="_blank">Shire Games</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 link-group">
			<h4 class="centre">Kingdom Pickers:</h4>
			<p>These are sites which allow you to randomly choose which cards to use for your next game, without having to physically shuffle cards:</p>	
			<ul>
				<li><a href="http://inprogressgaming.com/dominion-card-picker/" target="_blank">In Progress</a> has a massively detailed kingdom picker with more options than you are ever likely to use!</li>
				<li><a href="http://www.hiwiller.com/dominion/" target="_blank">Zack Hiwiller's site</a> is simple and easy to use. But it is missing Empires and the most recent promo cards, and Events are not shown.</li>
				<li><a href="http://users.resourceinternational.com/~nmx/games/Dominion/getRandomDominionKingdomCards.cgi" target="_blank">This one</a> has a rather unintuitive interface, but includes all sets, decides whether to use Shelters or Colony/Platinum, and even tells you what additional materials are required for the given set of cards.</li>
			</ul>		
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 link-group">
			<h4 class="centre">Play:</h4>
			<ul>
				<li><a href="https://dominion.games/" target="_blank">Dominion Online</a> is the current officially licensed online implementation of Dominion. You can play against humans or bots, with the base set cards available for free, and other sets after payment. Full details of the history of the various online versions can be found <a href="http://wiki.dominionstrategy.com/index.php/Dominion_Online" target="_blank">here</a>.</li>
			</ul>		
		</div>
	</div>
	<p class="centre">If you know of any other good Dominion resources on the web which you think should be listed here, please let me know via the <a href="#/contact">contact form</a>.</p>
</div>