<div class="container-fluid">
	<h3 class="home">Some useful Dominion-related links</h3>
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Official Rio Grande pages:</h4>
			<ul class="list-group">
				<li class="list-group-item"><a href="http://riograndegames.com/Game/278-Dominion" target="_blank">Base set</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1312-Dominion-2nd-edition" target="_blank">Base set (2nd edition)</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/306-Dominion-Intrigue" target="_blank">Intrigue</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1311-Dominion-Intrigue-2nd-edition" target="_blank">Intrigue (2nd edition)</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/361-Dominion-Prosperity" target="_blank">Seaside</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/356-Dominion-Alchemy" target="_blank">Alchemy</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/361-Dominion-Prosperity" target="_blank">Prosperity</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/383-Dominion-Cornucopia" target="_blank">Cornucopia</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/396-Dominion-Hinterlands" target="_blank">Hinterlands</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/421-Dominion-Dark-Ages" target="_blank">Dark Ages</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1285-Dominion-Adventures" target="_blank">Adventures</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1265-Dominion-Guilds" target="_blank">Guilds</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1306-Dominion-Empires" target="_blank">Empires</a></li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1293-Dominion-Cornucopia-amp-Guilds" target="_blank">Cornucopia and Guilds</a> (2 small expansions combined)</li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/419-Dominion-Base-cards" target="_blank">Base Cards</a> (just the basic Treasure and Victory cards, which you need to play the game if you don't own the base set or Intrigue)</li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1313-Dominion-update-pack" target="_blank">Base set Update pack</a> (just the new cards in the second edition)</li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1314-Dominion-Intrigue-update-pack" target="_blank">Intrigue Update pack</a> (just the new cards in the second edition)</li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/413-Dominion-Big-Box" target="_blank">Big Box</a> (Base set first edition, Alchemy and Prosperity)</li>
				<li class="list-group-item"><a href="http://riograndegames.com/Game/1320-Dominion-Big-Box-II" target="_blank">Big Box II</a> (Base set and Intrigue second editions)</li>
			</ul>
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Boardgamegeek pages:</h4>
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Other general pages:</h4>			
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Where to buy (UK):</h4>			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Kingdom pickers:</h4>				
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Play electronically:</h4>				
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Kingdom pickers:</h4>				
		</div>
		<div class="col-xs-6 col-sm-3">
			<h4 class="home">Play online:</h4>				
		</div>
	</div>
</div>