<div class="container-fluid">
	<div class="row">
		<!-- allow room for search results on right on tablets/desktops, but has to go below on smaller screens-->
		<div class="col-xs-12 col-sm-6 col-md-4 separate-scroll-form"> 
			<form>
				<div class="form-group search">
					<label class="control-label">Order search results by:</label>
					<label class="radio-inline"><input type="radio" name="name" ng-model="searchParams.orderProp" value="name"/>Name</label>
					<label class="radio-inline"><input type="radio" name="cost" ng-model="searchParams.orderProp" value="cost"/>Cost</label>
				</div>
				<div class="form-group search">
					<label class="control-label" for="name-search">Card Name:</label>
					<input type="text" class="form-control input-sm" id="name-search" ng-model="searchParams.nameSearchText"/>
					<button type="button" class="btn btn-primary btn-sm search-form-button" ng-click="clearNameSearch()">Clear</button>
				</div>
				<div class="form-group search">
					<label class="control-label form-subtitle" >Card sets:</label>
					<p>(Finds cards which match <strong>any</strong> of the selected sets.)</p>
					<p><strong>You must select at least one set in order to return any cards at all!</strong></p> 
					<label class="checkbox-inline" ng-repeat="set in allSets"><input type="checkbox" ng-model="searchParams['in'+set.dirtyName]"/>{{set.niceName}}</label>
					<button type="button" class="btn btn-primary btn-sm search-form-button" ng-click="toggleSets()">Click to {{searchParams.setsButtonText}} all</button>
				</div>
				<div class="form-group search">
					<label class="control-label form-subtitle" for="min-coin-cost">Minimum Cost:</label> 
					<label class="control-label" for="min-coin-cost">Coins</label>
					<select class="form-control input-sm" id="min-coin-cost" ng-model="searchParams.minCoinCost"> 
						<option ng-repeat="cost in possibleCoinCosts">{{cost}}</option>
					</select>
					<label class="control-label" for="min-potion-cost">Potions</label>
					<select class="form-control input-sm" id="min-potion-cost" ng-model="searchParams.minPotionCost">
						<option ng-repeat="cost in possiblePotionCosts">{{cost}}</option>
					</select>
					<label class="control-label" for="min-debt-cost">Debt</label>
					<select class="form-control input-sm" id="min-debt-cost" ng-model="searchParams.minDebtCost">
						<option ng-repeat="cost in possibleDebtCosts">{{cost}}</option>
					</select>
					<label class="control-label form-subtitle" for="max-coin-cost">Maximum Cost:</label> 
					<label class="control-label" for="max-coin-cost">Coins</label>
					<select class="form-control input-sm" id="max-coin-cost" ng-model="searchParams.maxCoinCost">
						<option ng-repeat="cost in possibleCoinCosts">{{cost}}</option>
					</select>
					<label class="control-label" for="max-potion-cost">Potions</label>
					<select class="form-control input-sm" id="max-potion-cost" ng-model="searchParams.maxPotionCost">
						<option ng-repeat="cost in possiblePotionCosts">{{cost}}</option>
					</select>
					<label class="control-label" for="max-debt-cost">Debt</label>
					<select class="form-control input-sm" id="max-debt-cost" ng-model="searchParams.maxDebtCost">
						<option ng-repeat="cost in possibleDebtCosts">{{cost}}</option>
					</select>
					<button type="button" class="btn btn-primary btn-sm search-form-button" ng-click="fixedCost()">Click to set maximum equal to minimum</button>
					<button type="button" class="btn btn-primary btn-sm search-form-button" ng-click="resetCosts()">Reset</button>
					<p><strong>Note on Landmarks:</strong> Landmarks have no cost. They will be returned by the search if, and only if, the cost fields are at their default values (press "Reset" to ensure this).</p>
				</div>
				<div class="form-group search">
					<label class="control-label form-subtitle" >Types:</label> 
					<p>(Only cards which match <strong>all</strong> selected types will be found. Leave blank for the most general search, and make selections to narrow it.)</p>
					<label class="checkbox-inline" ng-repeat="type in allTypes"><input type="checkbox" ng-model="searchParams['is'+type+'Type']"/>{{type}}</label>
					<button type="button" class="btn btn-primary btn-sm search-form-button" ng-click="clearTypes()">Clear all</button>
				</div>
				<div class="form-group search">
					<label class="control-label" for="text-above-search">Text (above line):</label>
					<input type="text" class="form-control input-sm" id="text-above-search" ng-model="searchParams.aboveLineSearchText"/>
					<label class="control-label" for="text-below-search">Text (below line):</label>
					<input type="text" class="form-control input-sm" id="text-below-search" ng-model="searchParams.belowLineSearchText"/>
					<div class="input-group">
						<label class="control-label" for="anywhere">Select to search for text anywhere on card:</label>
						<input type="checkbox" id="anywhere" ng-model="searchParams.allTextSearch"/>
						<p>(This allows you to search for two separate strings - in this case, only cards matching <strong>both</strong> strings are returned. Deselect to search specific text areas.)</p>
						<button type="button" class="btn btn-primary btn-sm search-form-button" ng-click="clearTextSearch()">Clear</button>
					</div>
				</div>
				<button type="button" class="btn btn-success btn-lg search-form-button" ng-click="clearAll()">Reset to Default</button>
			</form>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<!--The Angular binding below looks rather fearsome at first glance, so I will explain it. Its purpose is simply to display to the user the number of cards returned by the search, which may be relevant information (and if not is relatively unobtrusive).
			First note that the ng-repeat statement a few lines down is a filter of the entire card list by every search function, in order to display precisely those cards which match the user's search parameters. This entire expression returns an array of course, and we use the .length method to find the number of cards returned.
			After displaying this number and the word "card", we use the Javascript ternary operator to pluralise it (that is, add an "s") in all cases except when exactly 1 card is returned. -->
			<p><strong>{{(cardList | filter: nameSearch | filter: costSearch | filter: typesSearch | filter: setFilter | filter: textAboveSearch | filter: textBelowSearch).length}}</strong> card{{(cardList | filter: nameSearch | filter: costSearch | filter: typesSearch | filter: setFilter | filter: textAboveSearch | filter: textBelowSearch).length == 1 ? "" : "s"}} matching search parameters:</p>
			<div class="separate-scroll-results">
				<div ng-repeat="card in cardList | filter: nameSearch | filter: costSearch | filter: typesSearch | filter: setFilter | filter: textAboveSearch | filter: textBelowSearch | orderBy: searchParams.orderProp" class="search-results">
					<a href="#cards/{{card.name}}"><img ng-src="{{card.imagePath}}" alt="{{card.name}}" class="card-image {{card.orientation}}" /></a>
				</div>
			</div>
		</div>
	</div>
</div>