<div class="container-fluid">
	<div class="row">
		<!-- allow room for search results on right on tablets/desktops, but has to go below on smaller screens-->
		<div class="col-xs-12 col-sm-6 col-md-4"> 
			<form>
				<div class="form-group">
					<label class="control-label" for="name-search">Card Name:</label>
					<input type="text" class="form-control input-sm" id="name-search"/>
				</div>
				<div class="form-group">
					<label class="control-label form-subtitle" for="min-coin-cost">Minimum Cost:</label> 
					<label class="control-label" for="min-coin-cost">Coins</label>
					<select class="form-control input-sm" id="min-coin-cost"> 
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
					</select>
					<label class="control-label" for="min-potion-cost">Potions</label>
					<select class="form-control input-sm" id="min-potion-cost">
						<option>0</option>
						<option>1</option>
					</select>
					<label class="control-label" for="min-debt-cost">Debt</label>
					<select class="form-control input-sm" id="min-debt-cost">
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
					</select>
					<label class="control-label form-subtitle" for="max-coin-cost">Maximum Cost:</label> 
					<label class="control-label" for="max-coin-cost">Coins</label>
					<select class="form-control input-sm" id="max-coin-cost">
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
					</select>
					<label class="control-label" for="max-potion-cost">Potions</label>
					<select class="form-control input-sm" id="max-potion-cost">
						<option>0</option>
						<option>1</option>
					</select>
					<label class="control-label" for="max-debt-cost">Debt</label>
					<select class="form-control input-sm" id="max-debt-cost">
						<option>0</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
					</select>
					<div class="input-group">
						<label class="control-label" for="min-equals-max">Select to make equal to minimum cost:</label>
						<input type="checkbox" id="min-equals-max"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label form-subtitle" >Types:</label> 
					<label class="checkbox-inline"><input type="checkbox"/>Action</label>
					<label class="checkbox-inline"><input type="checkbox"/>Treasure</label>
					<label class="checkbox-inline"><input type="checkbox"/>Victory</label>
					<label class="checkbox-inline"><input type="checkbox"/>Curse</label>
					<label class="checkbox-inline"><input type="checkbox"/>Attack</label>
					<label class="checkbox-inline"><input type="checkbox"/>Duration</label>
					<label class="checkbox-inline"><input type="checkbox"/>Reaction</label>
					<label class="checkbox-inline"><input type="checkbox"/>Prize</label>
					<label class="checkbox-inline"><input type="checkbox"/>Shelter</label>
					<label class="checkbox-inline"><input type="checkbox"/>Ruins</label>
					<label class="checkbox-inline"><input type="checkbox"/>Looter</label>
					<label class="checkbox-inline"><input type="checkbox"/>Knight</label>
					<label class="checkbox-inline"><input type="checkbox"/>Reserve</label>
					<label class="checkbox-inline"><input type="checkbox"/>Traveller</label>
					<label class="checkbox-inline"><input type="checkbox"/>Gathering</label>
					<label class="checkbox-inline"><input type="checkbox"/>Castle</label>
					<label class="checkbox-inline"><input type="checkbox"/>Event</label>
					<label class="checkbox-inline"><input type="checkbox"/>Landmark</label>
				</div>
				<div class="form-group">
					<label class="control-label form-subtitle" >Card sets:</label> 
					<label class="checkbox-inline"><input type="checkbox"/>Basic cards</label>
					<label class="checkbox-inline"><input type="checkbox"/>Base (1st edition)</label>
					<label class="checkbox-inline"><input type="checkbox"/>Base (2nd edition)</label>
					<label class="checkbox-inline"><input type="checkbox"/>Intrigue (1st edition)</label>
					<label class="checkbox-inline"><input type="checkbox"/>Intrigue (2nd edition)</label>
					<label class="checkbox-inline"><input type="checkbox"/>Seaside</label>
					<label class="checkbox-inline"><input type="checkbox"/>Alchemy</label>
					<label class="checkbox-inline"><input type="checkbox"/>Prosperity</label>
					<label class="checkbox-inline"><input type="checkbox"/>Cornucopia</label>
					<label class="checkbox-inline"><input type="checkbox"/>Hinterlands</label>
					<label class="checkbox-inline"><input type="checkbox"/>Dark Ages</label>
					<label class="checkbox-inline"><input type="checkbox"/>Guilds</label>
					<label class="checkbox-inline"><input type="checkbox"/>Adventures</label>
					<label class="checkbox-inline"><input type="checkbox"/>Empires</label>
					<label class="checkbox-inline"><input type="checkbox"/>Promos</label>
				</div>
				<div class="form-group">
					<label class="control-label" for="text-above-search">Text (above line):</label>
					<input type="text" class="form-control input-sm" id="text-above-search"/>
					<label class="control-label" for="text-below-search">Text (below line):</label>
					<input type="text" class="form-control input-sm" id="text-below-search"/>
					<div class="input-group">
						<label class="control-label" for="anywhere">Select to search for text anywhere on card:</label>
						<input type="checkbox" id="anywhere"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>