<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="input-group">
				<label for="name-search">Card Name:</label>
				<input type="text" id="name-search"/>
			</div>
			<div class="input-group">
				<label for="min-coin-cost">Minimum Cost:</label>
				<label for="min-coin-cost">Coins</label>
				<select id="min-coin-cost">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
				</select>
				<label for="min-potion-cost">Potions</label>
				<select id="min-potion-cost">
					<option>0</option>
					<option>1</option>
				</select>
				<label for="min-debt-cost">Debt</label>
				<select id="min-debt-cost">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
				</select>
				<label for="max-coin-cost">Maximum Cost:</label>
				<label for="max-coin-cost">Coins</label>
				<select id="max-coin-cost">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
				</select>
				<label for="max-potion-cost">Potions</label>
				<select id="max-potion-cost">
					<option>0</option>
					<option>1</option>
				</select>
				<label for="max-debt-cost">Debt</label>
				<select id="max-debt-cost">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
				</select>
				<label for="min-equals-max">Select to make equal to minimum cost:</label>
				<input type="checkbox" id="min-equals-max"/>
			</div>
			<div class="input-group">
				<label>Types:</label>
				<input type="checkbox"/>Action
				<input type="checkbox"/>Treasure
				<input type="checkbox"/>Victory
				<input type="checkbox"/>Curse
				<input type="checkbox"/>Attack
				<input type="checkbox"/>Duration
				<input type="checkbox"/>Reaction
				<input type="checkbox"/>Prize
				<input type="checkbox"/>Shelter
				<input type="checkbox"/>Ruins
				<input type="checkbox"/>Looter
				<input type="checkbox"/>Knight
				<input type="checkbox"/>Reserve
				<input type="checkbox"/>Traveller
				<input type="checkbox"/>Gathering
				<input type="checkbox"/>Castle
				<input type="checkbox"/>Event
				<input type="checkbox"/>Landmark
			</div>
			<div class="input-group">
				<label>Set:</label>
				<input type="checkbox"/>Basic cards
				<input type="checkbox"/>Base (1st edition)
				<input type="checkbox"/>Base (2nd edition)
				<input type="checkbox"/>Intrigue (1st edition)
				<input type="checkbox"/>Intrigue (2nd edition)
				<input type="checkbox"/>Seaside
				<input type="checkbox"/>Alchemy
				<input type="checkbox"/>Prosperity
				<input type="checkbox"/>Cornucopia
				<input type="checkbox"/>Hinterlands
				<input type="checkbox"/>Dark Ages
				<input type="checkbox"/>Guilds
				<input type="checkbox"/>Adventures
				<input type="checkbox"/>Empires
				<input type="checkbox"/>Promos
			</div>
			<div class="input-group">
				<label for="text-above-search">Text (above line):</label>
				<input type="text" id="text-above-search"/>
				<label for="text-below-search">Text (below line):</label>
				<input type="text" id="text-below-search"/>
				<label for="anywhere">Select to search for text anywhere on card:</label>
				<input type="checkbox" id="anywhere"/>
			</div>
		</div>
	</div>
</div>